/********************  GENERAL ***************************/

* {
  font-family: Arial;
}

html, body {
  font-size: 12px;
  color:#564b47;
  margin: 0; padding: 0;
  min-width: 775px;
}

.mark {
	width: 12px; height: 20px;
}

.alert {
    color: green;
}

/********************  HEADER ***************************/

#header {
	margin:0; padding: 0;
	text-align:left; border-bottom:1px dotted gray;
	background-color:#CCCCCC; 
	width:auto;
	height: 90px;
}

/* Logo not currently shown...
#logo {
	font-family:Trebuchet MS, Lucida Grande,Arial;
	color:black; font-weight:bold; font-size:12px;
	text-align:left; margin-left:.5em;
}
*/

#key {
	margin: 0; padding: 0 1em 0 0;
	list-style-type: none;
	text-align: right;
}

#key dd, #key dt {
	margin: 0; padding: 0;
	display: inline;
}

#input {
	float: left;
	padding:0; margin: 0 0 0 .5em;
}

/********************  FOOTER ***************************/
#attribution {
	padding: 0; margin: 0 0 0 .5em;
	float: left;
}

#nav {
	list-style-type: none;
	text-align: right;
	font-size: 110%;
	padding: 0 0 .5em 0; margin: 0 1em 0 0;
}

/********************  INSTRUCTION ***************************/
#instruction {
	width: 300px; font-weight: bold;
}

/************************* MAP ***************************/
#map {
	width: 75%;
	margin: 0; padding: 0;
	position: absolute; top: 91px; bottom: 0px; left: 0px;
}

/********************** LISTINGS ***************************/
#listings {
	width: 25%;
	overflow:auto;
  position: absolute; top: 91px; bottom: 0; right: 0;
	border:2px solid gray;
}

#listings h2 {
	text-align: center;
	margin: 0; padding: 0.2em;
    border-bottom: 1px solid black;
	color: white;
	font-size: 1.6em;
	font-variant: small-caps;
}

#recommended {
	background: maroon;
}

ul.recommended a {
background-color:#C57563;
}

#roadshow {
	background: darkblue;
}

ul.roadshow a {
background-color:#647EB5;
}

#music {
	background: forestgreen;
}	

ul.music a  {
	background-color: #669966;
}

#karaoke {
	background: darkgoldenrod;
}

ul.karaoke a {
background-color:#E2C52B;
}

#mic {
	background: indigo;
}

ul.mic a {
	background-color: mediumpurple;
}

#dj {
	background: dimgray;
}

ul.dj a {
	background-color: slategray;
}

/************************************************
       WIFI MARKERS
 ************************************************/
#online {
  background: forestgreen;
}

.online a {
	background-color: #669966;
}

#flakey {
  background: darkgoldenrod;
}

.flakey a {
  background-color:#E2C52B;
}

#offline {
  background: maroon;
}

.offline a {
  background-color:#C57563;
}

#lowusage {
  background: darkblue;
}

.lowusage {
  background-color:#647EB5;
}

.eventList {
    list-style-type: none;
    margin: 0; padding: 0;
    border: none;

 	width: 100%;
    /*border-right: 1px solid #000;*/
    /*padding: 0 0 1em 0;
    margin-bottom: 1em;*/
    /*font-family: 'Trebuchet MS', 'Lucida Grande',
      Verdana, Lucida, Geneva, Helvetica, 
      Arial, sans-serif;
      background-color: #90bade;*/
    color: #333;
}

.eventList li {
    margin: 0; padding: 0;
}

.eventList a {
    display: block;
    margin: 0; padding: 5px 5px 5px 0.5em;
    /*border-left: 10px solid #1958b7;
    border-right: 10px solid #508fc4;
    background-color: #2175bc;*/
    border-bottom: 1px solid black;

    color: white;
    text-decoration: none;
    width: auto;

	cursor:pointer;
}

.eventList a:hover{
/*background-color:#475F42;*/
/*filter:alpha(opacity=70);*/
-moz-opacity:0.7;
opacity: 0.7;
color:black;
}
/*
.eventList li a.dj {
background-color:#80CA5D;
}
*/

.event {
	width:300px;
}

.venue {
	font-weight:bold; font-size:11px; color:white;
	text-decoration: underline;
}

.act {
	font-size:14px;color:white;
}

h3 {
margin:0px;
font-size:16px;
font-family:Arial;
font-weight: bold;
}

.pointheading {
	font-family:arial;
}

.addr {
margin-left:.5em;	
font-size:10px;
color:gray;
}

.eventdesc {
background-color:#EEEEEE;
padding:.5em;
margin:3px;
}

.eventname {
font-weight: bold;
}

.smalldesc{
margin: 0;
padding: 2px;
font-size: 10px;
max-height: 100px;
overflow: auto;
}

.rec {
font-size:11px;
font-style:italic;
font-weight:bold;
color:silver;
}

.dirform {
border-top:1px solid gray;
margin-top:3px; 
display:none;
}

.loc {
margin-top:0px;
padding-top:0px;;
margin-bottom:5px;
font-size:11px;
font-style:italic;
/*border-bottom:1px dotted black;*/
}

/*#inhalt {
width:600px;       
  text-align: left;
  vertical-align: middle;       
  margin: 0px auto;
  padding: 0px;
  background-color: #ffffff;
}*/

.dirbubble {
margin-top:1em;
text-align:right;
font-size:11px;
font-style:italic;
/*border-top:1px dotted black;*/
}

.dirbubble a {
color:#6A80A3;
}


body { background-color: #fff; color: #333; }

body, p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size:   13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a { color: #000; }
a:visited { color: #666; }
a:hover { color: #fff; background-color:#000; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#ErrorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#ErrorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#ErrorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#ErrorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

div.uploadStatus {
  margin: 5px;
}

div.progressBar {
  margin: 5px;
}

div.progressBar div.border {
  background-color: #fff;
  border: 1px solid grey;
  width: 100%;
}

div.progressBar div.background {
  background-color: #333;
  height: 18px;
  width: 0%;
}
