<div id="listings">
<% for type in @names.keys -%>
<h1 id="<%= type -%>" class="section"><%= @names[type] -%></h1>
<ul class="eventList <%= type -%>">
  <% for event in @events[type] -%>
  <li><a title="<%= event.venue.address || "" -%>">
    <span class="venue"><%= event.venue.name || event.location %></span><br />
    <span class="act"><%= event.name %></span></a>
  </li>
  <% end -%>
</ul>
<% end -%>