<div id="listings">
<% for type in @names.keys -%>
<h1 id="<%= type -%>" class="section"><%= @names[type] -%></h1>
<ul class="eventList <%= type -%>">
  <% for event in @events[type]
       next if event.location.nil? -%>
  <li><a title="<%= event.location.address -%>">
    <span class="venue"><%= event.location.name unless event.location.nil? %></span><br />
    <span class="act"><%= event.name %></span></a>
  </li>
  <% end -%>
</ul>
<% end -%>